.faculty h1 {
	margin-bottom: 2em !important;
}

.faculty:last-child {
	margin-bottom: 4em;
}

.cards {
	&:hover {
		opacity: .8;
		cursor: pointer;
	}
	@media (max-width: 767px) {
		width: 60%;
		margin: auto;
		}
	@media (max-width: 450px) {
		width: 90%;
		margin: auto;
		}		
	img {
		text-align: center;
		width: 100%;

	}
	.details {
		text-align: center;
		padding: 1em .5em;
		background-color: #fff;
		color: #000;
		text-transform: uppercase;
	  padding-bottom: 0px;
	  margin-bottom: 30px;
	  .name {
	  	font-family: Raleway,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  	font-size: 1.5em;
		  white-space: nowrap;
			width: 100%;                   
		  overflow: hidden;              /* "overflow" value must be different from "visible" */ 
		  text-overflow: ellipsis;
	  }
	  .title {
	  	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	  	font-weight: 400;
	  	letter-spacing: 1px;
	  	padding: 0em 1.125em;
	  	height: 3.5em;
			width: 100%;                   
		  overflow: hidden;              /* "overflow" value must be different from "visible" */ 
		  text-overflow: ellipsis;
	
	  }
	  p:first-child {
	  	&:before {
	  		content: " - ";
	  	}
	  	&:after {
	  		content: " - ";
	  	}	  	
	  }
	}
}