<div id="technologies">
	<div class="wrapper">
		<div class="page-title">
			<h1 style="margin-bottom: 0em; margin-top: 0px;">Technologies Available for License</h1>
		</div>
<!-- 		<p class="featured-tech-pdf"><a href="http://techtransfer.byu.edu/Promising-Technologies.pdf" target="_blank">Download the List of Promising Technologies (pdf)</a></p> -->
		<p style="text-align: center;" ng-if="tc.pages > 0"><i>Page: {{tc.currentPage+1}} of {{tc.pages}}</i></p>
		<p style="text-align: center;" ng-if="tc.pages === 0"><i>No Results</i></p>
		<p>The following is a list of technologies currently available for license from BYU. Filter the list using the search box or category selector. Click on any invention for more information.</p>
		<div class="search-container">
			<form>
				<div class="group filter">
					<input class="search-box" placeholder="Search technologies..." type="text" name="s" ng-model="tc.searchText">
					<div class="select-style">
						<select name="c" ng-model="tc.categorySearch.Categories" ng-options="category as (category === '' ? 'Show All' : category) for category in tc.techData.categories"></select>
					</div>
			</form>
		</div>
		<ul class="products">
			<div class="technology-box" ng-repeat="technology in tc.relevantTech | offset: tc.currentPage*10 | limitTo:10">
				<a class="patent-info" href="" ng-click="tc.goToTech(technology.ID)">
					<div class='patent-list'>
						<div class='patent-container'>
							<h2 class='patent-name'>{{technology.Name}}</h2>
							<!-- <span> ID: {{technology.ID}}</span> -->
							<p class='patent-description'>{{technology["Short Description"]}}</p>
						</div>
					</div>
				</a>
			</div>
		</ul>
		<div class="pagination row" ng-if="tc.pages > 0">
			<div class="col-xs-3" style="padding-left: 0px;" ng-click="tc.currentPage = tc.currentPage-1" ng-class="{'page-button-disabled':(tc.currentPage===0)}">
				<i class="fa fa-chevron-left"></i>
			</div>
			<div class="col-xs-6" ng-class="{'col-xs-offset-3':(tc.currentPage===0)}">
				<p><i>Page: {{tc.currentPage+1}} of {{tc.pages}}</i></p>
			</div>
			<div class="col-xs-3" style="padding-right: 0px;" ng-click="tc.currentPage = tc.currentPage+1" ng-class="{'page-button-disabled':(tc.currentPage+1==tc.pages), 'pull-right':(tc.currentPage===0)}">
				<i class="fa fa-chevron-right pull-right"></i>
			</div>			
			
	
		</div>
	</div>
</div>